ion-card {
    border: 1px solid var(--ion-color-primary);
    --border-radius: 10px;
  margin : 2vh 1vh;
}


div{

    margin: 0.5vh ;
   ion-item{
    --padding-start:O;
    --inner-padding-end: 0;

ion-label{
        font-size: medium;
        font-weight: bold;
        p {
            font-size: small;
            font-weight: 500;
            margin-top: 5px;
             
        }

}
    ion-thumbnail {
        width: 4rem;
        height: 4rem;
        background: var(--ion-color-meduim);
        border-radius: 10px;
    
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
    
    ion-icon {
        font-size: 1.5rem;
    
    
    }
}
}